@import "./variables.module.scss";

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin card-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
}

@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin button {
  display: inline-block;
  padding: 10px 20px;
  font-size: $font-size;
  color: #ffffff;
  background-color: $primary-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color $transition-duration,
    transform $transition-duration;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
    transform: scale(0.95);
  }
}
