.card {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  cursor: pointer;
  margin-bottom: 8px;
  padding: 6px 8px;

  h3 {
    font-size: 14px;
  }
}

.isDragging {
  background-color: red;
}
