@import "../../styles/variables.module";

.navbar {
  margin: 0;
  height: 8vh;
  background-color: $card-background;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
